/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  width: auto;
  max-width: 680px;
}

.container .credit {
  margin: 20px 0;
}

.clockpicker {
  width:150px;
  margin: 0 auto;
  -webkit-animation-duration: 1.5s;
}

.am-button {
  color: #000;
}

.pm-button {
  color: #000;
}

.clockpicker-button {
  color:#000;
}
.hdn {
  visibility: hidden;
}

.tmr-head {
  float: left;
  width: 100%; 
  margin-left: 27%;
}

.tmr-head p{
  float: left;
  padding-left: 46px;
  margin-bottom: 5px;
}

.tmr-sel {
  margin-left: 20px;
}

.form-inline {
  padding-right: 15px;
}

.opa {
  opacity: 0;
}

.alarm-tm {

}

.panel {
  margin-bottom:10px;
}

.panel-body {
  padding-bottom:5px;
}

/* No select */
.ns {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; 
  -o-user-select:none;
  user-select: none;
  outline: none;
}

.tmr {

}


#status {
  -webkit-animation-duration: 1.5s;
}

#alarm-tm {
  -webkit-animation-duration: 1.5s; 
}

#alarm-tm p {
  color: #5cb85c;
  font-weight: bold;
}

#btn-reset {
  margin-bottom: 20px;
  -webkit-animation-duration: 1.5s;
}

#wrap {
  -webkit-animation-duration: 1.5s;
}

#status p {
  color: #5cb85c;
  font-size: 11pt;
}

#status.fadeout{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}